
<h2>Details</h2>
<h3>Driving date</h3>
<h4><%= @drive.date_of%></h4>

<h3>Lorry ID</h3>
<h4><%= @drive.lorry_id%></h4>
<h5> <b>Driver ID</b> </h5>
<h6><%= @drive.driver_id %></b></h6>
<%= link_to "Back", drives_path%>
