<h3>Delivery No</h3>
<h4><%= @delivery.id%></h4>
<h5> <b>Delivery Date</b> </h5>
<h6><%= @delivery.delivery_date %></b></h6>
<h5><b>Distance Covered in km</b></h5>
<h6><%= @delivery.distance_covered %><br />
<%= link_to "Back", deliveries_path%>
