// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

item {
   width:1200px; 
   height:900px;
}

div#container {
   width: 760px;
   margin: 0 auto;
}